<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

<!--    <property name="LOG_DIR" value="/Users/civilis/Data/code/webhookproxy/log" />-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGFILE_PATH}/webhookproxy.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGFILE_PATH}/webhookproxy.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1kB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-TRACE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>trace</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%magenta(%p)] %cyan(%C{15}.%M) %green(%line): %m%n)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%yellow(%p)] %cyan(%C{15}.%M) %green(%line): %m%n)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%blue(%p)] %cyan(%C{15}.%M) %green(%line): %m%n)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-WARN" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%white(%p)] %cyan(%C{15}.%M) %green(%line): %m%n)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%red(%p)] %cyan(%C{15}.%M) %green(%line): %m%n)</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT-TRACE"/>
        <appender-ref ref="STDOUT-DEBUG"/>
        <appender-ref ref="STDOUT-INFO"/>
        <appender-ref ref="STDOUT-WARN"/>
        <appender-ref ref="STDOUT-ERROR"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
